
.dialog-screen
    .dialog-about-container(class="flex-top-down")
        .dialog-header(class="flex-left-right")
            .title About me
            .close-button(onclick="document.querySelector('.dialog-screen').classList.remove('show-dialog')")
                <i class="fa fa-times"></i>

        .dialog-body
            p this is my test page
        .dialog-footer
            p footer should not visible
