doctype html
html(lang='en')
  head
    include meta.pug
    script(type="text/javascript",src="https://s3.tradingview.com/tv.js")
    link(rel="stylesheet",href="css/style.css")

    title tradingview
  body
    div(class="app",id="stock_table")
    script(src="js/app.js")
    footer.footer
      a(href="http://louiscklaw.github.io") this is a test
