doctype html
html(lang='en')
  head
    include gtag.js
    include meta.pug

    link(rel="preconnect", href="https://s.tradingview.com")
    link(rel="dns-prefetch", href="https://s.tradingview.com")

    link(rel="preload", href="js/app.js", as="script")
    link(rel="stylesheet",href="css/style.css")
    script(type="text/javascript",src="https://s3.tradingview.com/tv.js")

    title A tradingview dashboard
  body
    div(class="menu-show")
      button(class="menu-button" onclick="showMenu()")

    div(class="side-menu-right")
      div(class="side-menu-container menu-toggle-show-hide")
        div(class="menu-header")
          button(class="menu-button" onclick="closeMenu()")
          .menu-caption-container
            p(class="menu-caption") MENU
        div(class="menu-body")
          ul
            li(class="menu-item1")
              a.item-text(href="http://www.google.com") item 1
            li(class="menu-item2")
              p.item-text item 2
            li(class="menu-item3")
              p.item-text item 3
            li(class="menu-item4")
              p.item-text item 4
            li(class="menu-item5")
              p.item-text item 5

    div(class="app",id="stock_table")

    //- script(src="js/app.js")
    script(src="js/test.js")

    footer.footer
      .footer_container
        .footer_left
        .footer_mid(class="link_to_home")
          a.footer_link(href="http://louiscklaw.github.io" )
            <i class="fas fa-home"></i> http://louiscklaw.github.io
        .footer_right
      .footer_container(style="position: relative; top: -50px;")
        .footer_left
          include share_and_like.pug
        .footer_mid
        .footer_right
          include footer.html
