doctype html
html(lang='en')
 head
   title tradingview
   meta(charset="UTF-8")
   meta(name="viewport",content="width=device-width,initial-scale=1.0")
   meta(http-equiv="X-UA-Compatible",content="ie=edge")
   script(type="text/javascript",src="https://s3.tradingview.com/tv.js")
   link(rel="stylesheet",href="style.css")

 body
   div(class="app",id="stock_table")
   script(src="app.js")
