doctype html
html(lang='en')
  head
    include meta.pug
    include gtag.js

    link(rel="preload", href="js/app.js", as="script")

    link(rel="preconnect", href="https://s.tradingview.com")
    link(rel="dns-prefetch", href="https://s.tradingview.com")

    link(rel="stylesheet",href="css/style.css")
    link(rel="stylesheet",href="css/hamburgers.css")

    script(type="text/javascript",src="https://s3.tradingview.com/tv.js")

    title A tradingview dashboard
  body
    include menu_button.html

    div(class="app",id="stock_table")

    script(src="js/app.js")
    script(src="js/test.js")

    include ./inc/dialog_about.pug

    footer.footer
      .footer_container
        .footer_left
        .footer_mid(class="link_to_home")
          a.footer_link(href="http://louiscklaw.github.io" )
            <i class="fas fa-home"></i> http://louiscklaw.github.io
        .footer_right
      .footer_container(style="position: relative; top: -50px;")
        .footer_left
          include share_and_like.pug
        .footer_mid
        .footer_right
          include footer.html
