link(rel="preload", href="js/app.js", as="script")

link(rel="preconnect", href="https://s.tradingview.com")
link(rel="preconnect", href="https://fonts.googleapis.com")
link(rel="preconnect", href="https://cdnjs.cloudflare.com")
