//- meta.pug

<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover">
<meta http-equiv="X-UA-Compatible" content="ie=edge">

<link rel="shortcut icon" href="/home/images/bnp_favicon.ico" type="image/x-icon" />
<meta name="description" content="A tradingview dashboard" />
<meta name="keywords" content="SPX S&P500 NYSE tradingview stock dashboard portfolio" />
<meta name="author" content="https://louiscklaw.github.io" />
<meta name="geo.region" content="HK" />

<meta property="og:title" content="tradingview dashboard" />
<meta property="og:description" content="A tradingview dashboard" />
<meta property="og:url" content="https://louiscklaw.github.io/tradingview-tile-tryout" />
<meta property="og:type" content="website" />
<meta property="og:image" content="https://raw.githubusercontent.com/louiscklaw/tradingview-tile-tryout/master/src/img/sc.png" />
<meta property="og:locale" content="en" />

<meta property="twitter:card" content="summary" />
<meta property="twitter:site" content="@louislabs" />
<meta property="twitter:title" content="A tradingview dashboard" />
<meta property="twitter:description" content="A tradingview dashboard" />
<meta property="twitter:creator" content="@louislabs" />
<meta property="twitter:image:src" content="https://raw.githubusercontent.com/louiscklaw/tradingview-tile-tryout/master/src/img/sc.png" />
<meta property="twitter:domain" content="louiscklaw.github.io" />

<meta name="robots" content="index, follow" />
<meta name="revisit-after" content="1 days" />
