//- meta.pug

<meta charset="UTF-8">
<meta name="viewport" content="width=device-width,initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">



//- reference
<html xmlns="http://www.w3.org/1999/xhtml" lang="zh-Hant">

<head>
  <link rel="shortcut icon" href="/home/images/bnp_favicon.ico" type="image/x-icon" />
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <title>認股證 | 牛熊證 - 法國巴黎銀行</title>
  <meta name="viewport" content="width=device-width" />
  <meta name="description" content="法國巴黎銀行全新網站，嶄新版面，助你更易掌握每日認股證(窩輪)、牛熊證等相應資訊，加上專家即市分析推出獨家「法證評分」，從價外程度、年期、買賣差價、街貨量四大客觀因素出發，助您尋找較適合部署的窩輪產品。" />
  <meta name="keywords" content="窩輪, 牛熊證, 牛熊, 認股證, 認股" />
  <meta name="author" content="http://www.bnpwarrant.com" />
  <meta name="geo.region" content="HK" />
  <meta name="robots" content="index, follow" />
  <meta name="revisit-after" content="7 days" />

<meta property="og:title" content="認股證 | 牛熊證 - 法國巴黎銀行" />
<meta property="og:description" content="法國巴黎銀行全新網站，嶄新版面，助你更易掌握每日認股證(窩輪)、牛熊證等相應資訊，加上專家即市分析推出獨家「法證評分」，從價外程度、年期、買賣差價、街貨量四大客觀因素出發，助您尋找較適合部署的窩輪產品。" />
<meta property="og:url" content="http://www.bnppwarrant.com/tc/index" />
<meta property="og:type" content="website" />
<meta property="og:image" content="" />
<meta property="og:locale" content="zh_hk" />
<meta property="twitter:card" content="summary" />
<meta property="twitter:site" content="@bnpwarrants" />
<meta property="twitter:title" content="認股證 | 牛熊證 - 法國巴黎銀行" />
<meta property="twitter:description" content="法國巴黎銀行全新網站，嶄新版面，助你更易掌握每日認股證(窩輪)、牛熊證等相應資訊，加上專家即市分析推出獨家「法證評分」，從價外程度、年期、買賣差價、街貨量四大客觀因素出發，助您尋找較適合部署的窩輪產品。" />
<meta property="twitter:creator" content="@bnpwarrants" />
<meta property="twitter:image:src" content="http://www.bnppwarrant.com/" />
<meta property="twitter:domain" content="www.bnppwarrant.com/" />


link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.css")
