@import "var.less";

.nav-menu {
    width: @menu-width;
    height: 100vh;
    backdrop-filter: @mid-blur;
    z-index: @z-touchable;

    position: absolute;
    left: -@menu-width;

    display: flex;

    transition: 0.3s ease-in;
}

.nav-menu-active {
    // position: absolute;
    // left: 0px;
    transform: translateX(@menu-width);
}

#menu-button {
    position: fixed;
    top: 0px;
    left: 0px;

    transition: 0.3s ease-in;

    background-color: rgba(20, 20, 20, 0.3);
}

.menu-body li {
    cursor: pointer;
}

.menu-header {
    height: @menu-header-height;
}

.menu-item:hover {
    background-color: rgba(128, 128, 128, 0.2);
}

.menu-item {
    height: @menu-item-height;

    text-transform: uppercase;
}

.menu-item i {
    padding: 30px;
}

.nav-empty {
    position: fixed;
    top: 0px;
    left: @menu-width;

    width: calc(100% - @menu-width);
    height: 100vh;
    background-color: rgba(20, 20, 20, 0.4);

    cursor: pointer;
    z-index: @z-touchable;

    backdrop-filter: @mid-blur;


    visibility: hidden;
    opacity: 0;

    transition: 0.1s;
}

.nav-empty-active {
    width: calc(100% - @menu-width);
    height: 100vh;

    visibility: visible;
    opacity: 1;
}

.menu-caption {
    position: relative;
    padding: 30px;

    left: @menu-button-width;
    display: flex;
    flex-flow: row;
    justify-content: flex-start;
}
