@import "var.less";

.nav-menu {
    width: @menu-width;
    height: 100vh;
    backdrop-filter: @mid-blur;
    z-index: @z-touchable;

    position: absolute;
    left: -@menu-width;

    display: flex;


}

.nav-menu-active {
    position: absolute;
    left: 0px;
    // transform: translateX(0px);
}

.hamburger {
    position: fixed;
    top: 0px;
    left: 0px;

    transition: 1s;
}

.menu-body li {
    cursor: pointer;
}

.menu-header {
    height: 80px;
}

.menu-item {
    height: 80px;
}

.menu-item:hover {
    background-color: rgba(128,128,128, 0.2);
}

.menu-item {
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: center;
    // background-color: rgba(128,128,128, 0.1);

    text-transform: uppercase;
}

.nav-empty {
    position: fixed;
    top: 0px;
    left: @menu-width;

    width: 0%;
    height: 0%;
    background-color: rgba(20, 20, 20, 0.9);

    cursor: pointer;
    z-index: @z-touchable;

    backdrop-filter: @mid-blur;
}

.nav-empty-active {
    width: calc(100% - @menu-width);
    height: 100vh;
}



.menu-caption {
    position: relative;
    left: @menu-button-width;
    display: flex;
    flex-flow: row;
    justify-content: flex-start;



}
