* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a {
    color: #999999;
}

.app {
    display: grid;
    grid-column-gap: 3px;
    grid-row-gap: 3px;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    background-color: #050505;
}

.element {
    width: 100%;
    /* height: 210px; */
    background-color: #050505;
}

.test_container {
    text-align: center;
}
